<html>
<head>
<title>MP3 Audio uploader</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">       
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<h1>MP3 Audio uploader </h1>
<div class="container">
<div class="row">
    <h2>Select a MP3 file to upload</h2>
    
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
              <div class="form-control">
                <input type="file" name="file" autocomplete="off" required>          
              </div>
              </p>
        </dl>
        <p>
          <div>
            <input type="submit" class="btn" value="Submit" >  
            </div>
          </div>
        </p>
    </form>
</div>
</div>
</body>
</html>